<h2><%= @game.player_1.name %> vs <%= @game.player_2.name %></h2>
<p><%= @game.player_2.name %> <%= @game.player_2.hp %> hit points</p>

<form action="/attack">
<input type="submit" value= "Attack">
</form>



